test/case/miniob
test/case/result_tmp
./deps/libevent
./deps/googletest
./deps/jsoncpp
build/*
cmake-build-*/*
observer.log*
miniob
deps/*
.vscode/*
.DS_Store
.idea
.ccls-cache
compile_commands.json
./.name
./miniob.iml
./vcs.xml
./workspace.xml
./modules.xml
GRTAGS
GPATH
GTAGS
#*#
